{% extends 'base.html' %}
{% load bootstrap %}

{% block title%} Seja bem vindo {% endblock %}
{% block main%}

    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-md">
            <h1>Seja bem vindo</h1>
        </div>
        <div class="col-sm">
            {% if user.is_authenticated %}
                <p>Olá {{ user.username }}</p>
                <a class="btn btn-primary mt-2" href="{% url 'logout' %}">Sair</a>
            {% else %}  
                <a class="btn btn-primary mt-2" href="{% url 'login' %}">Entrar</a>  
            {% endif %}             
        </div>
    </div>

{% endblock %}